<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Telecomando</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="telecomando">

    <div class="section">
      <button class="btn" id="accendi-spegni" (click)="accendi()">🔛</button>
    </div>
    

    <div class="section">
      <button class="btn" id="numero-1" (click)="Tuno()">1</button>
      <button class="btn" id="numero-2">2</button>
      <button class="btn" id="numero-3">3</button>
      <button class="btn" id="numero-4">4</button> 
      <button class="btn" id="numero-5">5</button> 
      <button class="btn" id="numero-6">6</button> 
      <button class="btn" id="numero-7">7</button> 
      <button class="btn" id="numero-8">8</button> 
      <button class="btn" id="numero-9">9</button> 
      <button class="btn" id="numero-0">0</button> 
    </div>
    

    <div class="section">
      <button class="btn" id="volume-aumenta">+🔊</button>
      <button class="btn" id="canale-aumenta">+CN</button>
      <button class="btn" id="volume-diminuisci">-🔉</button>
      <button class="btn" id="canale-diminuisci">-CN</button>
      <button class="btn" id="mute" (click)="muto()">🔇</button>
      <button class="btn" id="info">ℹ️</button>
    </div>
   </div>

  <script>
    document.getElementById("accendi-spegni").addEventListener("click", function() {
      alert("Accensione o spegnimento!");
    });

    document.getElementById("luminosita-aumenta").addEventListener("click", function() {
      alert("Luminosità aumentata!");
    });

    document.getElementById("luminosita-diminuisci").addEventListener("click", function() {
      alert("Luminosità diminuita!");
    });

    document.getElementById("mute").addEventListener("click", function() {
      alert("Audio disattivato!");
    });

    document.getElementById("cambia-canale").addEventListener("click", function() {
      alert("Canale cambiato!");
    });

    document.getElementById("info").addEventListener("click", function() {
      alert("Visualizzazione informazioni.");
    });
  </script>
</body>
</html>
