.example-card {
    max-width: 275px;
    height: 600px;
    margin-right: 55px;
    text-align: center;
    border: 2px solid black;
  }
  
  .example-header-image {
    background-image: url('../prodotti/ferrux_conserves.ico');
    background-size: cover;
    }
  
.centro{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
 }

.descrizione{
    text-align: center;
    border: 3px solid green;
    font-size: 13px;
  }

