<div class="centro">

<mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{product.brand}}</mat-card-title>
      <mat-card-subtitle>{{product.model}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../immagini/ferrux-in-scatola.jpg">
    <mat-card-content>
      <p>
        <mat-card-subtitle>Prezzo: {{product.price}}€</mat-card-subtitle>
      </p>
      <p class="descrizione">
        Nel cuore dell’industria conserviera nasce una leggenda:Ferrux in Scatola. Un sigillo di cartone impenetrabile, rinforzato da strati di nastro adesivo forgiato nella tenacia. Nessuno sa cosa c’è dentro. Nessuno osa aprirlo. È più di un semplice pacco: è un enigma, un monolite, un test di forza per chiunque pensi di essere all’altezza. Chi osa sfidarlo? 💥
      </p>
    </mat-card-content>
  </mat-card>

</div>