<div  style="text-align: center;"    *ngIf="isLoading"><p>Loading</p></div>

<div class="centro">
<mat-card *ngFor="let product of products; let i=index" class="example-card" appearance="outlined" (click)="naviga(product)">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{product.brand}}</mat-card-title>
      <mat-card-subtitle>{{product.model}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://media.bytecno.it/mageplaza/blog/post/c/o/come-girare-lo-schermo-del-pc.png">
    <mat-card-content>
      <p>
        <mat-card-subtitle>Prezzo: {{product.price}}€</mat-card-subtitle>
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="carrello(product)">Aggiungi al carrello</button>
      <button mat-button (click)="acquista(product)">Acquista ora</button>
    </mat-card-actions>
  </mat-card>
</div>






<!-- 
<table class="table">
    <thead>
      <tr>
        <th scope="col">Numero prodotto</th>
        <th scope="col">Nome</th>
        <th scope="col">Modello</th>
        <th scope="col">Prezzo</th>
        <th scope="col">Disponibile</th>
        <th scope="col">Non in magazzino</th>
        <th scope="col">Pezzi</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <th scope="row">1</th>
        <td>{{product.brand}}</td>
        <td>{{product.model}}</td>
        <td>{{product.price}}</td>
        <td>{{product.available}}</td>
        <td>{{product.outofstock}}</td>
        <td>{{product.stockQuantity}}</td>
      </tr>
    </tbody>
  </table>
 -->
